.GroupButtons {
  display: inline-flex;

  >:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  >:not(:first-child):not(:last-child) {
    border-radius: 0;
    margin-left: -1px;
  }

  >:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -1px;
  }
}