.Heading1 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 500;
}

.Heading2 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}

.GreyText {
  color: var(--color-grey-text);
}

.ImportantText {
  font-weight: bold;
  color: var(--color-important-text);
}