.TodoListItem {
  display: flex;
  justify-content: space-between;
}

.Label {
  margin-left: 20px;
  line-height: 35px;
  cursor: pointer;
  user-select: none;
}

.LabelDone {
  text-decoration: line-through;
}

.Buttons {
  display: flex;
}

.Button {
  margin: 3px;
}