:root {
  --color-dark: #495057;
  --color-grey: #6c757d;
  --color-grey-light: #ced4da;
  --color-white: #ffffff;
  --color-blue: #80bdff;

  --shadow-fieds: 0 0 0 0.2rem rgb(0 123 255 / 25%);
  --border-radius: 4px;
}