.Input {
  width: 100%;
  font-size: 16px;
  padding: 6px 12px;
  color: var(--color-dark);
  border: 1px solid var(--color-grey-light);
  border-radius: var(--border-radius);
  transition: border-color var(--transition-field), box-shadow var(--transition-field);

  &:focus {
    border-color: var(--color-blue-light);
    box-shadow: var(--shadow-input);
    outline: 0;
  }
}